/**/

.user_login{
    width: 20%;
    height: 50%;
    position: fixed;
    top: 11%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    font-family: var(--Raleway);
    z-index: 5;
}

.eye1{
    position: absolute;
    top: 43%;
    right: 10%;
    cursor: pointer;
}

.eye2{
    position: absolute;
    top: 52%;
    right: 10%;
    cursor: pointer;
}

.eye3{
    position: absolute;
    top: 66%;
    right: 10%;
    cursor: pointer;
}

.fa{
    color: #7a797e;
}

.user_login form{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: var(--Raleway);
}

.user_login form h1{
    margin: 0;
    font-size: 1.4rem;
}

.user_login form h6{
    margin: 0;
    color: #cccccc;
}

.user_login input{
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    font-family: var(--Raleway);
    color: black;
    font-weight: bold;
}

.user_login input:focus{
    outline: none;
}

.loginButton{
    width: 100%;
    height: 20%;
    background-color: beige;
    border: none;
    border-radius: 5px;
    font-family: var(--Raleway);
    font-weight: bold; 
    transition: 1s; 
    cursor: pointer; 
}

.loginButton:hover{
    background-color: rgb(255, 255, 200);
}

.user_login a{
    margin-top: 2%;
    font-weight: bold;
    font-size: .7rem;
    color: black;
}

.btnSignUp{
    width: 90%;
    height: 15%;
    margin-top: 5%;
    background-color: lightslategray;
    color: white;
    transition: 1s ;
}

.btnSignUp:hover{
    background-color: rgb(103, 117, 132);
}

.arrow{
    position: absolute;
    top: 5%;
    left: 6%;
    cursor: pointer;
}

.fa-arrow-left{
    color: lightslategray;
}

.user_register{
    box-shadow: none;
}

.user_register form{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user_register input{
    height: 15%;
}

.registerButton{
    width: 100%;
    height: 15%;
    margin: 0;
    background-color: beige;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: var(--Raleway);
    font-weight: bold; 
    transition: 1s; 
    cursor: pointer; 
}

.registerButton:hover{
    background-color: rgb(255, 255, 200);
}


.user_login.darkmode, .user_register.darkmode{
    background-color: rgb(30, 30, 30);
    color: white;
    border: 2px solid rgb(47, 47, 47);
}


a.color_white{
    color: white;
}

/*Aditional styles*/
.user_login.invisible{
    display: none;
}

.user_register.invisible{
    display: none;
    z-index: 4;
}
