main{
    margin: 50px 0 50px 0;
}
.descuento{
    position: absolute;
    background-color: red;
    color: white;    
    z-index: 2;    
    margin: 5px;    
    font-size: 15px;
}
h4{
    color: aqua;
}